.logo-side-bar {
  margin-left: 10px;
  padding-bottom: 54px;
}

.ant-layout-sider-dark {
  background-color: #0e3860 !important;
}

.ant-menu {
  background-color: #0e3860 !important;
  color: #6e88a0 !important;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: 0px !important;
}

.ant-menu-item img {
  opacity: 0.4;
}

.ant-menu-item-selected img {
  opacity: 1;
}

.ant-menu-item-active {
  background-color: #14709f !important;
  color: #ffff !important;
  font-weight: 500;
}

.ant-menu-item-selected {
  background-color: #14709f !important;
  color: #ffff !important;
  font-weight: 500;
}

.ant-layout {
  height: 100vh;
}

@media (max-width: 430px) {
  .ant-layout .ant-layout-sider {
    display: none !important;
  }
}
