.settings-team,
.settings-profile {
  height: 320px;
}

.settings-info {
  height: auto;
  min-height: 470px;
}

.ant-tabs {
  width: 100%;
}

.ant-row .ant-tabs .ant-tabs-nav {
  margin-bottom: 0px;
  margin-left: 10px;
}

.settings-profile .ant-avatar-lg {
  height: 80px;
  margin: 10px 30px;
  width: 80px;
}

.settings-profile .ant-avatar-lg.ant-avatar-icon {
  font-size: 76px;
}

.icon-sync {
  cursor: pointer;
}

/* .add-team-member-confirm-button {
  padding: 40px !important;
} */