.logo-side-bar {
  margin-left: 10px;
  padding-bottom: 54px;
}

.menu-sidebar.ant-layout-sider-dark, 
.menu-sidebar.ant-layout-sider {
  background-color: #0e3860 !important;
}

.ant-menu {
  background-color: #0e3860 !important;
  color: #6e88a0 !important;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: 0px !important;
}

.ant-menu-item img {
  opacity: 0.4;
}

.ant-menu-item-selected img {
  opacity: 1;
}

.ant-menu-item-active {
  background-color: #14709f !important;
  color: #ffff !important;
  font-weight: 500;
}

.ant-menu-item-selected {
  background-color: #14709f !important;
  color: #ffff !important;
  font-weight: 500;
}

.ant-layout {
  height: 100%;
  min-height: 900px !important;
}

.ant-avatar {
  margin-left: 1em !important;
}

/* TODO sidebar */
.todos-sidebar.ant-layout-sider-dark{
  background-color: #f9cd35!important;
}

.todos__container {
  background: #edeeee;
  color: black;
  height: 100%;
  margin: 15px;
  max-height: 985px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 6px;
  width: 90%;
}

.todos__entry {
  border-bottom: 1px solid white;
  padding: 10px;
}