.details-profile-info {
  padding-left: 20px;
  width: 244px;
}

.details-card {
  box-shadow: 0 2.8px 8.2px rgba(0, 0, 0, 0.034),
    0 6.7px 8.3px rgba(0, 0, 0, 0.008), 0 11.5px 10px rgba(0, 0, 0, 0.02),
    0 5px 10px rgba(0, 0, 0, 0.032);
  margin: 15px 8px 10px;
}

.details-profile {
  height: 320px;
  width: 520px;
}

.details-pagination {
  width: 1123px;
}

.details-touch {
  width: 368px;
}

.details-toolbox {
  height: 320px;
  width: 192px;
}

.details-tools {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.details-note {
  box-shadow: 0 2.8px 8.2px rgba(0, 0, 0, 0.034),
    0 6.7px 8.3px rgba(0, 0, 0, 0.008), 0 11.5px 10px rgba(0, 0, 0, 0.02),
    0 5px 10px rgba(0, 0, 0, 0.032);
  width: 554px;
}

/* New strategy form */
.details-new-strategy-form {
  padding-left: 20px !important;
  width: 515px;
}

.details-new-strategy-form .ant-form-item-label {
  padding: 0 !important;
}

.details-new-strategy-form label {
  color: #828282 !important;
}

.details-new-strategy-form textarea {
  height: 186px !important;
}

.details-new-strategy-form textarea,
.details-new-strategy-form input {
  border-radius: 8px;
}

.new-strategy-modal .ant-modal-footer {
  border: none;
  display: flex;
  justify-content: space-around;
  margin-left: 221px;
  padding: 0px 20px 18px !important;
}

.new-strategy-modal .ant-modal-body {
  padding: 5px 0px 0px 5px !important;
}

.new-strategy-modal .ant-modal-header {
  border-bottom: none !important;
}

@media only screen and (max-width: 430px) {
  .details-toolbox {
    height: 250px;
    width: 310px;
  }
  .details-note {
    width: 310px;
  }
  .details-pagination {
    width: 310px;
  }
  .details-profile {
    height: 600px;
    width: 310px;
  }
  .details-profile-info {
    width: 290px;
  }
  .details-pagination {
    width: 310px;
  }
  .details-touch {
    width: 310px;
  }
}

@media only screen and (min-width: 430px) and (max-width: 1090px) {
  .details-toolbox {
    height: 150px;
    width: 865px;
  }
  .details-note {
    width: 865px;
  }
  .details-pagination {
    width: 747px;
  }
  .details-profile {
    width: 480px;
  }
  .details-profile-info {
    width: 216px;
  }
  .details-pagination {
    width: 865px;
  }
}
@media screen and (min-width: 1090px) and (max-width: 1260px) {
  .details-touch {
    width: 250px;
  }
  .details-profile {
    width: 480px;
  }
  .details-profile-info {
    width: 216px;
  }
  .details-pagination {
    width: 953px;
  }
  .details-note {
    width: 469px;
  }
}
@media screen and (min-width: 1284px) {
  .details-profile-info {
    width: 228px;
  }
  .details-profile {
    width: 500px;
  }
  .details-card {
    margin: 15px 5px 10px;
  }
  .details-touch {
    width: 328px;
  }
  .details-note {
    width: 518px;
  }
  .details-pagination {
    width: 1123px;
  }
}
@media screen and (min-width: 1284px) and (max-width: 1400px) {
  .details-card {
    margin: 15px 18px 18px;
  }
  .details-touch {
    width: 400px;
  }
  .details-note {
    width: 554px;
  }
  .details-pagination {
    width: 1123px;
  }
}
@media screen and (min-width: 1400px) {
  .details-touch {
    width: 460px;
  }
  .details-note {
    width: 570px;
  }
  .details-pagination {
    width: 1200px;
  }
}
@media screen and(min-width: 1500px) {
  .details-touch {
    width: 500px;
  }
  .details-note {
    width: 638px;
  }
  .details-pagination {
    width: 1300px;
  }
}
@media (min-width: 1600px) {
  .details-touch {
    width: 600px;
  }
  .details-note {
    width: 656px;
  }
  .details-pagination {
    width: 1323px;
  }
}
