.logo-side-bar {
  margin-left: 10px;
  padding-bottom: 54px;
}

.ant-layout-sider-dark {
  background-color: #0e3860;
}

.ant-menu {
  background-color: #0e3860;
  color: #6e88a0;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: 0px !important;
}

.ant-menu-item-active {
  background-color: #14709f !important;
  color: #ffff;
  font-weight: 500;
}

.ant-menu-item-selected {
  background-color: #14709f !important;
  color: #ffff;
  font-weight: 500;
}

aside .ant-layout-sider {
  flex: 0 0 64px !important;
}
